@import url('https://fonts.googleapis.com/css?family=Orbitron');

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body {
    font-family:Arial,Helvetica;
    font-size:18px;
    background:url(/images/background.svg) rgb(0,41,59);
    background-position: left center;
    background-repeat:no-repeat;
}
#page {
    display:none;
    position:relative;
}

.slide-in {
    animation-name: example;
    animation-duration: 1s;
}
@keyframes example {
    0%   {top:-2000px;opacity: 0;}
    50%   {opacity: 0.5;}
    100% {top:0;opacity:1;}
}

.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
}
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}
.wrapper {
    max-width:1024px;
    width:100%;
    margin:0 auto;
}
.wrapper::after {
    content: '';
    display:block;
    clear:both;
}

.numeric,
.planets {
    width:50%;
    float:left;
    display:block;
}

.numeric a:nth-child(10){

    width:64%;
}
.disabled {
    opacity:0.5;
}
/*.disabled:hover {*/
    /*background-color:rgba(255,255,255,0.2)!important;*/
    /*cursor: not-allowed;*/
/*}*/
.numeric a,
.planets a {
    display:block;
    width:31%;
    margin: 0 2% 2% 0;
    height:100px;
    float:left;
    text-align:center;
    line-height:100px;
    transition:0.2s;
    text-decoration:none;
    color:#FFF;
    position:relative;
    font-size:1.5em;
    border-radius:4px;
    background-size:50%;
    background-position:center center;
    background-repeat:no-repeat;
    background-color:rgba(255,255,255,0.9);
    text-shadow: 1px 1px 5px #333;

}
.planets a {
    background-color:rgba(255,255,255,0.5)!important;
    font-size:1em;
    text-shadow: 1px 1px 5px #000;
    font-family:Orbitron;
}
a.units {
    background-color:rgba(0,0,0,0.5);
}
#planet {
    height:100px;
    width:100px;
    position:absolute;
    display:inline-block;
    background-repeat:no-repeat;
    background-position:center center;
}
/* PLANET BUTTONS */
.mercury {background-image:url(/images/mercury.svg);}
.venus {background-image:url(/images/venus.svg);}
.earth {background-image:url(/images/earth.svg);}
.mars {background-image:url(/images/mars.svg);}
.jupiter {background-image:url(/images/jupiter.svg);}
.saturn {background-image:url(/images/saturn.svg);}
.uranus {background-image:url(/images/uranus.svg);}
.neptune {background-image:url(/images/neptune.svg);}
.pluto {background-image:url(/images/pluto.svg);}
/*.planets a.mercury {background-image:url(/images/mercury.svg);}*/
/*.planets a.venus {background-image:url(/images/venus.svg);}*/
/*.planets a.earth {background-image:url(/images/earth.svg);}*/
/*.planets a.mars {background-image:url(/images/mars.svg);}*/
/*.planets a.jupiter {background-image:url(/images/jupiter.svg);}*/
/*.planets a.saturn {background-image:url(/images/saturn.svg);}*/
/*.planets a.uranus {background-image:url(/images/uranus.svg);}*/
/*.planets a.neptune {background-image:url(/images/neptune.svg);}*/
/*.planets a.pluto {background-image:url(/images/pluto.svg);}*/

/*.numeric a:hover,*/
/*.planets a:hover {*/
    /*background-size:81%;*/
    /*color:#000;*/
    /*background-color:rgba(255,255,255,0.5);*/
    /*!*transform: rotate(360deg);*!*/
/*}*/
.selected {
    border:1px solid #eee;
    background-color:rgba(255,255,255,0.6)!important;
}
.numeric a:active,
.planets a:active
 {
    background-size:60%;
    background-color:rgba(255,255,153,0.5);
    top:5px;

}
#clear-button {
    background:rgba(255,0,0,0.5);
}
#calculate-button {
    width:97%;
    background:rgba(153,255,0,0.5);
}
/*a#calculate-button:hover {*/
    /*background:rgba(153,255,0,0.8);*/
    /*color:#FFF;*/
/*}*/
.display {
    width:100%;
    height:50px;
    margin:1em 0;
    border:none;
    border-radius: 10px;
    background: #eee;
    padding:0 1em 0 1em;
    font-size:1.2em;
}
#display {
    font-family: 'Orbitron', sans-serif;
    font-size:1.5em;
    text-align: right;
    padding:0 100px 0 1em;
    width:99%;
    height:100px;
    line-height:100px;
    margin:1em 0 1% 0;
    background:linear-gradient(0deg,white,lightblue);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border:1px solid #999;
    /*box-shadow: 0px 5px darkblue, 0px 10px 0px lightblue;*/
}

#display #placeholder,
#display #units,
#display #numbers { padding:0 0 0 1em;}

#display #units { display:none;}

#display #placeholder { color:#666;}
#display #units {color:#F00;font-size:0.8em;}

#results {
    min-height:320px;
    padding:2em 1em 1em 1em;
    text-align: right;
    margin:0 3% 0 0;
    border-radius:4px;
    background:linear-gradient(20deg,white,lightblue);
    color:#666;
    font-size:0.8em;
    font-family:Orbitron;
    border:1px solid #999;
}
#results p {
    padding: 0 30px 0 30px;
    margin:0 0 1em 1em;
    background-repeat:no-repeat;
    background-position:center right;
    text-transform: uppercase;
}
.clear {clear:both;}
.instructions {
    padding:2em 2em 2em 5em;
    border-radius:0px 10px 10px 0px;
    width:400px;
    left:0;
    top:25%;
    background:#FFF;
    position:absolute;
    -webkit-box-shadow: 5px 5px 10px #333;
    -moz-box-shadow: 5px 5px 10px #333;
    box-shadow: 5px 5px 10px #333;
    z-index:1;
    /*display:none;*/
}
.hide {
    left:-365px!important;
}
.instructions h1 {
    margin:0 0 1em 0;
}
.instructions p {
    padding:1em 0;
    font-size:0.9em;
}
.instructions .help a {
    text-decoration: none;
    width:50px;
    height:50px;
    display:block;
    background:#333;
    text-align:center;
    color:#FFF;
    line-height:50px;
    border-radius:25px;
    position:absolute;
    top:-25px;
    right:-25px;
    font-family:Orbitron;
    border:5px solid #FFF;
    box-shadow:0px 0px 5px #333;
}
p.copyright {
    width:100%;
    padding:1em 0;
    text-align:center;
    color:#FFF;
    text-shadow:1px 1px 5px #000;
    font-size:0.6em;

}

/* HOVER RULES FOR TOUCH */
@media (hover: hover) {

    /*.numeric a:hover,*/
    /*.planets a:hover {*/
        /*background-size:81%;*/
        /*color:#000;*/
        /*background-color:rgba(255,255,255,0.5);*/
        /*!*transform: rotate(360deg);*!*/
    /*}*/

    /*.disabled:hover {*/
        /*background-color:rgba(255,255,255,0.2)!important;*/
        /*cursor: not-allowed;*/
    /*}*/

    /*a#calculate-button:hover {*/
        /*background:rgba(153,255,0,0.8);*/
        /*color:#FFF;*/
    /*}*/

}

@media screen and (max-width: 1024px){

    .wrapper {
        padding:0 2em;
    }
    #display {
        height:75px;
        line-height:75px;
        font-size:1em;
        padding:0 75px;
    }
    #display #planet {
        height:75px;
        width:75px;
    }
    .planets a, .numeric a {
        height:75px;
        line-height:75px;
        font-size:1em;
    }

}
@media screen and (max-width:560px){
    #display {
        height:50px;
        line-height:50px;
        padding:0 50px;
    }
    #display #planet {
        height:50px;
        width:50px;
    }
    .planets a {
        font-size:0.7em;
    }
    .numeric .units {
        font-size:0.4em;
    }
    #results {
        font-size:0.5em;
    }

}