@import url('https://fonts.googleapis.com/css?family=Orbitron');

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body {
    font-family:Arial,Helvetica;
    font-size:18px;
    background:rgb(23,47,71);
    /*background-size:50%;*/
}
.wrapper {
    max-width:1024px;
    margin:0 auto;
}
.wrapper::after {
    content: '';
    display:block;
    clear:both;
}

.numeric,
.planets {
    width:50%;
    float:left;
    display:block;
}

.numeric a:nth-child(10){

    width:64%;
}
.disabled {
    opacity:0.5;
}
.disabled a:hover {
    background:rgba(32,32,32, 0.5);
    cursor: not-allowed;
}
.numeric a,
.planets a {
    display:block;
    width:31%;
    margin: 0 2% 2% 0;
    height:100px;
    float:left;
    text-align:center;
    line-height:100px;
    transition:0.2s;
    text-decoration:none;
    color:#FFF;
    position:relative;

    border-radius:4px;

    background-size:50%;
    background-position:center center;
    background-repeat:no-repeat;
    background-color:rgba(255,255,255,0.2);

}

/* PLANET BUTTONS */
.mercury {background-image:url(/images/mercury.svg);}
.venus {background-image:url(/images/venus.svg);}
.earth {background-image:url(/images/earth.svg);}
.mars {background-image:url(/images/mars.svg);}
.jupiter {background-image:url(/images/jupiter.svg);}
.saturn {background-image:url(/images/saturn.svg);}
.uranus {background-image:url(/images/uranus.svg);}
.neptune {background-image:url(/images/neptune.svg);}
.pluto {background-image:url(/images/pluto.svg);}
/*.planets a.mercury {background-image:url(/images/mercury.svg);}*/
/*.planets a.venus {background-image:url(/images/venus.svg);}*/
/*.planets a.earth {background-image:url(/images/earth.svg);}*/
/*.planets a.mars {background-image:url(/images/mars.svg);}*/
/*.planets a.jupiter {background-image:url(/images/jupiter.svg);}*/
/*.planets a.saturn {background-image:url(/images/saturn.svg);}*/
/*.planets a.uranus {background-image:url(/images/uranus.svg);}*/
/*.planets a.neptune {background-image:url(/images/neptune.svg);}*/
/*.planets a.pluto {background-image:url(/images/pluto.svg);}*/

.numeric a:hover,
.planets a:hover {
    background-size:81%;
    color:#000;
    background-color:rgba(255,255,255,0.5);
    /*transform: rotate(360deg);*/
}
.numeric a:active,
.planets a:active {
    background-size:60%;
    background-color:rgba(255,0,255,0.5);
    top:5px;

}
.display {
    width:100%;
    height:50px;
    margin:1em 0;
    border:none;
    border-radius: 10px;
    background: #eee;
    padding:0 1em;
    font-size:1.2em;
}
#display {
    font-family: 'Orbitron', sans-serif;
    font-size:1.5em;
    text-align: right;
    padding:0 1em 0 1em;
    width:99%;
    height:100px;
    line-height:100px;
    margin:1em 0 1% 0;
    background:linear-gradient(0deg,white,lightblue);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /*box-shadow: 0px 5px darkblue, 0px 10px 0px lightblue;*/
}

#display #placeholder,
#display #units,
#display #numbers { padding:0 0 0 1em;}

#display #units { display:none;}

#display #placeholder { color:#666;}
#display #units {color:#F00;font-size:0.8em;}

#results {
    min-height:320px;
    padding:2em 1em 1em 1em;
    text-align: right;
    margin:0 3% 0 0;
    border-radius:4px;
    background:linear-gradient(20deg,white,lightblue);
    color:#666;
    font-size:0.8em;
    font-family:Orbitron;

}
#results p {
    padding: 0 30px 0 30px;
    margin:0 0 1em 1em;
    background-repeat:no-repeat;
    background-position:center right;
    text-transform: uppercase;
}
.clear {clear:both;}